
<div style="text-align:center">


    <span>{{ title }} app routing is running!</span>


  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/departements" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/departements" routerLinkActive="active">Departement</a>
      <a class="nav-item nav-link" routerLink="/employees" routerLinkActive="active">Employees</a>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>